# Dependencies
node_modules/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local





# Build
dist/
build/
coverage/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Temporary
tmp/
temp/

# Archives
*.zip
*.tar
*.gz
*.bundle
*.dump

# Runtime
*.pid